{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Article Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/boulder-default-2.jpg' %}" style="height: 250px; object-fit: cover;" 
                                alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}" style="height: 250px; object-fit: cover;" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text text-muted" style="font-weight: bold;">
                                    {% for category in post.categories.all %}
                                    {{ category.name }}{% if not forloop.last %} | {% endif %}
                                    {% empty %}
                                    
                                    {% endfor %}
                                </p>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation"class="page-navigation">
        <ul class="pagination justify-content-center">
            <li><a href="?page=1" class="page-link"> <<</a></li> <!-- Link to the first page -->
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><</a></li> <!-- Link to the previous page -->
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a> <!-- Display the current page number and total pages -->
            </li>
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> ></a></li> <!-- Link to the next page -->
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"> >></a></li> <!-- Link to the last page -->
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}